In [1]:
#Import Library needed

import pandas as pd
from faker import Faker
from faker.providers import internet

In [11]:
#define fake data with Faker component
#you can use your own language

fake_data = Faker()

#test name
fake_data.name()
#fake_data.unique.random_int(1,31)

'Rebecca Morales'

In [3]:
#Testing for 10 names
for _ in range(1,10):
    nama = fake_data.name()
    rand = fake_data.unique.random_int(1,31)
    print(nama)
    print(rand)

Angela Conway
13
Susan Craig
31
Heather Phillips
15
Donald Wilkinson
30
Bonnie Haynes
29
Edward Larson
5
Jeffrey Cooley
16
Julie Romero
6
Linda Sutton
9

In [8]:
#define empty list for entry the data
dataset = []

#define gender
genders = ['Male', 'Female']

#define number of data

num_data = 30

#create EmployeID

#EmpID = fake_data.random_int(100,131)
#dfemp = pd.DataFrame({"Emp_ID": EmpID})  

# create looping for all data that we want to create
# employee id, name, gender, address, city, country, job, email, date of birth, join date, salary

for _ in range(num_data):
    Id_emp = fake_data.random_int(100,999)
    Gender = fake_data.random_element(genders)
    Name = fake_data.unique.name_male() if Gender == 'Male' else fake_data.unique.name_female()
    Address = fake_data.address()
    City = fake_data.city()
    Country = fake_data.country()
    Job = fake_data.job()
    Email = fake_data.email()
    Dob = fake_data.date_of_birth()
    Joindate = fake_data.past_date()
    Salary = fake_data.random_int(1000,10000)
    Entry = {
        "Name": Name,
        "Emp_Id": Id_emp,
        "Gender": Gender,
        "Address": Address,
        "City": City,
        "Country": Country,
        "Job": Job,
        "Email": Email,
        "Date_of_Birth": Dob,
        "Join_Date": Joindate,
        "Salary": Salary
    }
    dataset.append(Entry)

#print(dataset)
#df_fix = pd.concat([dataset,dfemp], axis=1)
#print(df_fix)

In [9]:
df = pd.DataFrame(dataset)

csv_file = 'dataset_dummy.csv'

df.to_csv(csv_file)

In [10]:
from tabulate import tabulate

data = pd.read_csv('dataset_dummy.csv')

# Display the DataFrame with all columns using tabulate
print(tabulate(data, headers='keys'))

      Unnamed: 0  Name                  Emp_Id  Gender    Address                            City               Country                           Job                                     Email                       Date_of_Birth    Join_Date      Salary
--  ------------  ------------------  --------  --------  ---------------------------------  -----------------  --------------------------------  --------------------------------------  --------------------------  ---------------  -----------  --------
 0             0  Tracy Keith              644  Female    706 Robert Flats                   Lopezshire         Pitcairn Islands                  Radiographer, therapeutic               thomas01@example.org        1992-06-17       2024-12-07       8691
                                                          Port Ryan, SC 13997
 1             1  Christopher Miller       277  Male      23004 Brown Loaf                   Davidmouth         Saint Helena                      Engineer, automotive                    johnnorris@example.org      1957-07-06       2024-12-07       8436
                                                          Abigailview, WY 23816
 2             2  Susan Yates              491  Female    USS King                           Raychester         Slovakia (Slovak Republic)        Social worker                           garciadebbie@example.com    1939-10-05       2024-12-29       2102
                                                          FPO AP 73072
 3             3  David Barron             463  Male      83516 Wolf Streets                 East Anthony       Turkmenistan                      Public affairs consultant               crosslisa@example.org       1991-02-01       2024-12-09       6559
                                                          Connieshire, MO 26192
 4             4  Jessica Thompson         884  Female    238 Butler Gateway Suite 859       Annaburgh          Gabon                             Materials engineer                      pamela17@example.org        1945-03-31       2024-12-14       5217
                                                          Kimberlyville, WI 12941
 5             5  Kevin Pierce             446  Male      05414 Margaret Street              Vanessamouth       Reunion                           Call centre manager                     rebecca76@example.org       2023-02-07       2024-12-23       5507
                                                          North Jayborough, ID 69597
 6             6  Emily Kennedy DDS        488  Female    229 Price Crest                    Port Sarah         Saint Vincent and the Grenadines  Media planner                           vsanders@example.org        1989-01-11       2024-12-09       5964
                                                          Walshside, IA 49704
 7             7  Robert Jenkins           506  Male      637 Andrew Stream                  South Jason        Latvia                            Pharmacologist                          sanchezregina@example.net   1976-06-09       2024-12-28       5975
                                                          Caseychester, TX 43876
 8             8  Johnny Jackson           802  Male      2752 Torres Place                  North Stephen      Libyan Arab Jamahiriya            Medical illustrator                     swilliams@example.org       2024-07-09       2024-12-07       6232
                                                          Hendersonton, WI 68945
 9             9  Jared Pope               920  Male      62866 Sarah Lights                 Lauraborough       Angola                            Nature conservation officer             angelaelliott@example.com   1942-07-05       2024-12-06       9302
                                                          Smithburgh, MA 67818
10            10  Lisa Tucker              420  Female    869 Natasha Lake Apt. 111          New Davidmouth     Azerbaijan                        Materials engineer                      lisa38@example.net          1917-05-20       2024-12-04       7389
                                                          Lake Kellyside, DC 90043
11            11  Daniel Lewis             334  Male      776 Reyes Ville                    Barnesborough      France                            Paediatric nurse                        andrewmerritt@example.com   1932-09-28       2024-12-11       9810
                                                          Robinsonmouth, ND 77317
12            12  Jill Haas                275  Female    USNS Simmons                       Port Lesliebury    Anguilla                          Technical sales engineer                xguerra@example.net         1911-11-03       2024-12-17       2715
                                                          FPO AP 70846
13            13  Matthew Garcia           859  Male      06223 Samantha Station             Nelsontown         Serbia                            Music tutor                             ismall@example.com          1960-11-25       2024-12-13       1232
                                                          Woodburgh, RI 63076
14            14  Kayla Orr                660  Female    991 Susan Circle Suite 890         Powerstown         Wallis and Futuna                 Media buyer                             stephensutton@example.com   1973-04-11       2024-12-17       5936
                                                          South Courtneyshire, MO 87487
15            15  Katherine Taylor         761  Female    07434 Lindsay Lane                 Martinezchester    Chad                              Furniture designer                      amanda86@example.net        2003-01-18       2024-12-20       9107
                                                          Nathanmouth, AK 57138
16            16  Maria Robinson           774  Female    9420 Smith Extensions              Johnsonfort        Barbados                          Solicitor, Scotland                     parkmatthew@example.net     1969-04-09       2024-12-28       1226
                                                          Careyshire, NV 30814
17            17  Brian White              283  Male      3733 Rivera Junctions              Andersonfort       Tanzania                          Commissioning editor                    jenna04@example.com         1927-10-08       2024-12-25       3968
                                                          North Brandon, PW 50780
18            18  Steven Smith             816  Male      110 Yu View                        Jennifertown       Croatia                           Producer, television/film/video         rlloyd@example.org          1915-02-28       2024-12-30       6087
                                                          Port Alexmouth, CA 49128
19            19  Katherine Dickson        330  Female    1128 Davis Canyon                  Lake Williamtown   Guadeloupe                        Phytotherapist                          vlee@example.com            1914-10-11       2024-12-02       6186
                                                          Harperburgh, DE 35590
20            20  Christine Simpson        205  Female    4823 Ramos Estate Apt. 164         South Shirley      Pitcairn Islands                  Librarian, public                       cohenbrent@example.org      1962-09-22       2024-12-13       5205
                                                          Webbfort, GA 34416
21            21  Sarah Townsend           702  Female    68564 Justin Ridge Apt. 919        Michaelton         Burkina Faso                      Forensic psychologist                   gnguyen@example.net         1914-12-26       2024-12-05       7105
                                                          Reyesview, OH 09117
22            22  Bryan Aguilar            860  Male      92101 Scott Path                   West Gina          Kyrgyz Republic                   Scientist, research (maths)             thomas52@example.com        1961-05-28       2024-12-17       2833
                                                          South Paulburgh, CT 72309
23            23  Daniel Robertson         259  Male      896 Velasquez Lodge                North Juliamouth   Norway                            Research scientist (physical sciences)  laura37@example.com         2022-05-25       2024-12-25       8121
                                                          Danielfurt, ME 36111
24            24  Joy Mendoza              223  Female    8206 Phillips Mill Suite 933       Philipborough      Philippines                       Psychologist, sport and exercise        christopher73@example.org   1920-01-08       2024-12-12       4218
                                                          New Brenda, PA 38632
25            25  Sharon Jensen            784  Female    896 Derek Knoll                    North Bradley      Croatia                           Museum/gallery exhibitions officer      patrick72@example.net       1938-02-19       2024-12-28       1302
                                                          East Catherine, MD 36057
26            26  Christie Rodriguez       214  Female    108 Andrea Pine                    Dunnchester        Philippines                       Metallurgist                            kimchristopher@example.org  1957-06-20       2024-12-12       7998
                                                          Lake Allisonmouth, DE 27215
27            27  Mary Thomas              808  Female    8992 Johnson Crossroad             West Camerontown   Lebanon                           Dispensing optician                     travis16@example.org        1978-10-18       2024-12-16       5896
                                                          Wrightchester, FM 05414
28            28  Theresa Richardson       287  Female    504 Ann Passage Apt. 706           North Robertshire  Nigeria                           Tour manager                            gracegraham@example.com     1960-04-01       2024-12-28       7626
                                                          New Williamberg, MO 39249
29            29  Kyle Blanchard           956  Male      771 Hernandez Extensions Apt. 890  South Megan        Cyprus                            Ergonomist                              dhopkins@example.com        1981-07-09       2024-12-06       9001
                                                          North Matthewville, AS 76361